In [38]:
#step 1 = import library
import pandas as pd

In [39]:
#step 2 = import data
admission = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Admission%20Chance.csv')

In [40]:
admission.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [41]:
admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [42]:
admission.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [43]:
#step 3 = define target(y) and features(x)
admission.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [44]:
Y = admission['Chance of Admit ']

In [45]:
X = admission.drop(['Serial No','Chance of Admit '],axis=1)

In [46]:
#step 4 = trail test split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7,)

In [47]:
#check the shape of train test split
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((280, 7), (120, 7), (280,), (120,))

In [48]:
#step 5 = select model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [49]:
#step 6 = train or fit model
model.fit(X_train, Y_train)

LinearRegression()

In [50]:
#gives intercept of model
model.intercept_

-1.2040315161898802

In [51]:
#gives coefficent of the model
model.coef_

array([ 0.00092436,  0.00392759,  0.00286687, -0.00126618,  0.01707916,
        0.13204397,  0.02844147])

In [52]:
#step 7 = predict the model
Y_predict = model.predict(X_test)

In [53]:
Y_predict

array([0.68422385, 0.91303865, 0.80315858, 0.80954213, 0.74731682,
       0.52142721, 0.55497189, 0.75158435, 0.64305291, 0.7194422 ,
       0.95703221, 0.76510806, 0.90075861, 0.65896883, 0.71011463,
       0.71707111, 0.67399094, 0.87891472, 0.76144437, 0.74886622,
       0.71597668, 0.82722428, 0.84009809, 0.6647858 , 0.65510529,
       1.00405047, 0.64657707, 0.73103958, 0.83429173, 0.86071812,
       0.54153465, 0.67388044, 0.6495506 , 0.72074116, 0.69528242,
       0.69480099, 0.84696785, 0.89049648, 0.96038707, 0.52525812,
       0.71153839, 0.63347464, 0.79260808, 0.70572447, 0.54397171,
       0.62523737, 0.64181635, 0.96105506, 0.89830565, 0.58653222,
       0.62664648, 0.72454678, 0.54206293, 0.60854026, 0.69624678,
       0.91243368, 0.79305449, 0.5572227 , 0.47326418, 0.72552888,
       0.71453993, 0.67795541, 0.60641623, 0.77403047, 0.75993845,
       0.67828839, 0.64741984, 1.00239525, 0.45289782, 0.68047395,
       0.65147389, 0.83277854, 0.64144521, 0.61588332, 0.78827968,
       0.85234807, 0.69308603, 0.81131721, 0.78529308, 0.63257233,
       0.83822499, 0.61830182, 0.78895486, 0.83245556, 0.60453036,
       0.57979142, 0.58452616, 0.79977105, 0.59953714, 0.77880739,
       0.65374452, 0.41912893, 0.6620417 , 0.77027642, 0.67689369,
       0.74107698, 0.50475781, 0.52311043, 0.8241962 , 0.84638605,
       0.72288205, 0.82951655, 0.74577575, 0.55137437, 0.62129676,
       0.8688196 , 0.55804334, 0.69545978, 0.83996889, 0.58110501,
       0.68239737, 0.85927527, 0.70655667, 0.799652  , 0.65290488,
       0.86729588, 0.83606108, 0.52198921, 0.51756496, 0.45576717])

In [54]:
# step 8 = Check accuracy of the model
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [55]:
mean_absolute_error(Y_test, Y_predict)

0.043016947315585426

In [56]:
mean_absolute_percentage_error(Y_test, Y_predict)

0.07011021841423656

In [57]:
mean_squared_error(Y_test, Y_predict)

0.003554095399207748