In [19]:
#step 1 import library
import pandas as pd

In [20]:
#step 2 read data
purchase = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Customer%20Purchase.csv')

In [21]:
purchase.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [22]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [23]:
purchase.describe()

       Customer ID        Age
count     50.00000  50.000000
mean    1045.50000  54.160000
std       14.57738  25.658161
min     1021.00000  15.000000
25%     1033.25000  30.250000
50%     1045.50000  57.000000
75%     1057.75000  74.000000
max     1070.00000  98.000000

In [24]:
#step 3 define target and feature
purchase.columns

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [26]:
Y = purchase['Purchased']
X = purchase.drop(['Customer ID', 'Purchased'], axis=1)

In [28]:
# encoding categorical variable
X.replace({'Review':{'Poor':0, 'Average':1, 'Good':2}}, inplace=True)
X.replace({'Education':{'School':0, 'UG':1, 'PG':2}}, inplace=True)
X.replace({'Gender':{'Male':0, 'Female':1}}, inplace=True)

In [30]:
X.head()

   Age  Gender  Education  Review
0   30       1          0       1
1   68       1          1       0
2   70       1          2       2
3   72       1          2       2
4   16       1          1       1

In [31]:
#step 4 train test split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.7, random_state = 2529)

In [32]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((35, 4), (15, 4), (35,), (15,))

In [34]:
# Step 5 : select model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [35]:
#step 6 train model
model.fit(X_train, Y_train)

RandomForestClassifier()

In [36]:
#step 7 predict model
Y_predict = model.predict(X_test)

In [37]:
Y_predict

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No'], dtype=object)

In [38]:
#step 8 accuracy of model
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [41]:
confusion_matrix(Y_test, Y_predict)

array([[7, 0],
       [4, 4]], dtype=int64)

In [42]:
accuracy_score(Y_test, Y_predict)

0.7333333333333333

In [43]:
classification_report(Y_test, Y_predict)

'              precision    recall  f1-score   support\n\n          No       0.64      1.00      0.78         7\n         Yes       1.00      0.50      0.67         8\n\n    accuracy                           0.73        15\n   macro avg       0.82      0.75      0.72        15\nweighted avg       0.83      0.73      0.72        15\n'